#banner {
  margin-bottom: -8px;
}

#content {
  height: 100%;
  width: 800px;
  text-align: left;
}

#sidebar {
  width: 112px;
  float: left;
  padding: 0 8px 8px;
}

#page {
  width: 638px;
  float: right;
  padding: 0 16px 16px;
  border: none;
  border-left: solid 2px #808080;
}

#footer {
  width: 800px;
  margin-bottom: 16px;
}

#about {
  margin-top: 35px;
  margin-bottom: 16px;
  float: left;
}

#pi {
  margin-top: 50px;
  margin-bottom: 16px;
  float: right;
}

.no-margin {
  margin: 0;
}
