#banner {
  margin-bottom: -8px;
}

#content {
  height: 100%;
  width: 800px;
  text-align: left;
}

#navbar {
  width: 784px;
  background: #0159a0;
  margin: -8px 0;
  padding: 8px;
}

#navbar a {
  color: white;
}

#page {
  width: 800px;
}

#footer {
  width: 800px;
  margin-bottom: 16px;
}

#about {
  margin-top: 35px;
  margin-bottom: 16px;
  float: left;
}

#pi {
  margin-top: 50px;
  margin-bottom: 16px;
  float: right;
}

.no-margin {
  margin: 0;
}
