body {
  background-color: #1e1e1e;
  color: white;
  font-family: sans-serif;
  margin: 16px;
}

img {
  border: 0;
}

a {
  color: #5993c1;
}

a:hover {
  color: #6fa1c9;
}

a:active {
  color: #4b89bc;
}

a:focus {
  color: #5993c1;
}

h1 {
  margin: 32px 0;
}

hr {
  border-color: #808080;
}
