body {
  background-color: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

img {
  border: 0;
}

#content {
  width: 800px;
  text-align: left;
}

#about {
  margin-top: 35px;
  float: left;
}

#pi {
  margin-top: 50px;
  float: right;
}
