body {
  background-color: #1e1e1e;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

img {
  border: 0;
}

a {
  color: #5993c1;
}

a:hover {
  color: #6fa1c9;
}

a:active {
  color: #4b89bc;
}

a:focus {
  color: #5993c1;
}
